<%= render :partial => 'layouts/blog_header'%>
<div id="content">
	<% @blogs.each do |blog|%>
		<div class='blog-sel-line'><%= blog.blog_time%> <%= link_to blog.blog_title, blog_show_path(blog)%></div>
	<% end %>
</div>

